.img-logo{
    width: 120px;
    height: 90px;
}
.navbar{
    background-color: rgba(198, 193, 193, 0.861);
}
.navbar-nav .nav-item {
    margin:0 10px; 
}
.navbar-nav {
    display: flex;
    justify-content: center;
}

.banner_image {
    margin-top: 30px;
    width: 300px;
}

.banner_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}

.bk_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    flex-direction: row;
}

.my_details {
    margin-top: 50px;
    color: white;
}

.summary{
    color: rgb(212, 210, 210);
    text-wrap: wrap;
    width: 750px;
}
.icons{
    font-size: 20px;
    margin-right: 15px;
}

.nav-btn{
    margin-left: auto;
}
.body{
    background-color: black;
}
.heading{
    padding-top: 50px;
}
.carousel1-section{
    margin-top: 50px;
    margin-bottom: 25px;
}
.summary1{
    color: rgb(212, 210, 210);
    text-wrap: wrap;
    width:fit-content;
}
button{
    background-color: rgb(185, 184, 184);
    margin: 5px;
}

.edu{
    margin-top: 200px;
}
form{
    width: 700px !important;
    height: 400px !important;
    border: 1px solid gray;
    padding-top: 40px;
    box-shadow: 6px 6px 20px 2px gray;
    margin-bottom: 100px;
}
hr{
    border: 1px solid gray;
}





@media (max-width: 968px) {
    .banner_container {
        flex-direction: column;
        text-align: center; 
    }
    .summary{
        width:fit-content;
    }
    
    .my_details {
        margin-top: 20px;
    }

    .banner_image {
        margin-top: 20px;
        width: 100%;
        max-width: 300px;
    }

    .edu{
        margin-top: 50px;
    }
    form{
        width: 400px !important;
        height: 400px !important;
    }
}


